$main-black: #211f1c;
$title-color: #393d45;
$link-color: #393d45;
$icon-color: #acacac;
$border-color: #616467;
$footer-color: #484543;
$icon-back: #fefdfb;
$navbar-color: rgba(248, 248, 248, 0.879);
